.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-bar-container {
  position: relative;
  border-radius: 25px;
  border: 0.1px solid grey;
  width: 80%;
  height: 20px;
  overflow: hidden;
  margin: auto;
}

.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  font-size: small;
}

.progress-tracker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #1ec78f;
  transition: all;
  transition-duration: 0.5s;
}